.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal p {
  text-align: left;
  font-size: 0.8em;
}

.reveal li {
  font-size: 0.8em;
}

.reveal section img {
  border-width: 0;
}
